<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Todo</title>
  <base href="/">

  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="css/todo-mvc.css">
  <link rel="stylesheet" href="css/global.css">
</head>
<body>
  <app-root>
    <div class="app-root-loader">
      Loading, please wait...
    </div>
  </app-root>



    {{#each scripts.polyfills}}
    <script src="{{.}}"></script>
    {{/each}}
    <script>
      System.import('system-config.js').then(function () {
        System.import('main');
      }).catch(console.error.bind(console));
    </script>



</body>
</html>